/* © Elisabeth | Webseite: https://7fz.de/ | 7fz TableTop | Version 1.0 | Lizenziert unter CC BY 4.0 */

.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 1);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#mediaContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gridOverlay {
  opacity: 0.2;
}
